{{define "title"}}Editing {{.Profile.Name}}{{end}}
{{define "content"}}
<form action="/edit" method="get">
	<input type="hidden" name="Id" value="{{.ID}}" />
	
	<label for="Name">Name:</label>
	<input type="text" name="Name" value="{{.Foodie.Name}}" />
	
	<label for="Tagline">Tagline:</label>
	<input type="text" name="Tagline" value="{{.Foodie.Tagline}}" />
	
	<label for="is_chef">Is Chef?:</label>
	<input type="checkbox" name="is_chef" />
	
	<input type="submit" value="Edit" />
</form>
{{end}}

