{{define "title"}}Editing {{.LoginInfo.Profile.Name}}{{end}}
{{define "content"}}
<form action="{{./uploadURL}}" method="post" enctype="multipart/form-data">
	<input type="hidden" name="Id" value="{{.LoginInfo.User.ID}}" />
	
	<label for="Name">Name:</label>
	<input type="text" name="Name" value="{{.LoginInfo.Profile.Name}}" /><br />
	
	<label for="Tagline">Tagline:</label>
	<input type="text" name="Tagline" value="{{.LoginInfo.Profile.Tagline}}" /><br />
	
	<label for="ProfilePicture">Profile Pic:</label>
	<input type="file" name="ProfilePicture"><br />
	
	<label for="IsChef">Is Chef?:</label>
	{{if .LoginInfo.Profile.Chef}}
	<input type="checkbox" name="IsChef" value="yes" checked/><br />
	{{else}}
	<input type="checkbox" name="IsChef" value="yes" /><br />
	{{end}}
	
	{{if .LoginInfo.Profile.Chef}}
	<select name="Title">
		{{range .ValidTitles}}
		<option value="{{.}}">{{.}}</option>
		{{end}}
	</select><br />
	{{end}}
	
	<input type="submit" value="Edit" />
</form>
{{end}}

