{{define "title"}}{{.Profile.Name}}{{end}}

{{define "content"}}

{{$c := .C}}
<div class="wrapper content">
	<div class="profile_info">
		<div class="prof_contain">
			{{if .Profile.ProfilePicture}}
			<a href="/serve?blobKey={{.Profile.ProfilePicture}}"><img src="/serve?blobKey={{.Profile.ProfilePicture}}" style="height: 100px;"/></a>
			{{else}}
			<img src="jamie.png" style="height: 100px;"/>
			{{end}}
			<ul>
				<li><h2>{{.Profile.Name}}</h2></li>
				{{if .Profile.Chef}}
				<li>{{.Profile.Title}}</li>
				{{end}}
				<li>{{.Profile.Tagline}}</li>
				{{if and .Profile.Chef .Profile.CurrentRestaurantID}}
				<li><a href="/restaurant?rid={{.Profile.CurrentRestaurantID}}">{{RestaurantName $c .Profile.CurrentRestaurantID}}</a></li>
				{{end}}
			</ul>
		</div>
	</div>
	{{if .Profile.Chef}}
	<div class="likes_shares">
		{{if .AlreadyLiked}}
			<span class="like_button_disabled">{{.Profile.Likes}}</span>
		{{else}}
			<a href="#" class="like_button">{{.Profile.Likes}}</a>
		{{end}}
		<div class="share_profile">
			Share: FB, Twitter, G+
		</div>
	</div>
	<div class="comment_list">
		{{range .Comments}}
			{{$name := UserName $c .FromID}}
		<div class="comment">
			{{.Comment}} <br />
		- {{if $name}}<a href="/profile?id={{.FromID}}">{{$name}}</a> {{else}}Anonymous{{end}}, {FORMATTED DATE}
		</div>
		{{end}}
	</div>
		{{if .LoginInfo.User}}
		<form action="/comment" method="post">
	
			<input type="hidden" name="id" value="{{.ID}}" />
	
			<label for="comment">Comment</label>
			<textarea name="comment"></textarea>
			{{if not .AlreadyLiked}}
			<label for="like">Also like?</label>
			<input type="checkbox" name="like" value="yes">
			{{end}}
			<input type="submit" name="add_comment" value="Add Comment" />
	
		</form>
		{{end}}
	{{else}}
	<div class="comment_list">
		{{range .Comments}}
			{{$name := UserName $c .ToID}}
		<div class="comment">
			{{.Comment}} <br />
		- {{if $name}}<a href="/profile?id={{.ToID}}">{{$name}}</a> {{else}}Anonymous{{end}}, {FORMATTED DATE}
		</div>
		{{end}}
	</div>
	{{end}}
</div>
{{end}}