{{define "title"}}{{.Profile.Name}}{{end}}
{{define "content"}}
{{$c := .C}}
	{{if .Profile.Chef}}
	<p>CHEF IMAGE</p>
	{{end}}

	Username: {{.Profile.Name}} <br />
	{{if .Profile.Chef}}
		Title: {{.Profile.Title}}<br />
	{{end}}
	Tagline: {{.Profile.Tagline}} <br />
	
	{{/* EXTRA CHEF STUFF */}}
	
	{{if .Profile.Chef}}
		<ul>
			{{range .Profile.RestaurantIds}}
			<li>{{.}}</li>
			{{end}}
		</ul>
	
		<br />

		<strong>{{.Profile.Likes}} Likes</strong><br />
		
		<form action="/like" method="post">
			<input type="hidden" name="id" value="{{.ID}}" />
			<input type="submit" name="submit" value="Like">		
		</form>
		<br />
		
		<strong>Comments</strong><br />
	
		<ul>
		{{range .Comments}}
			{{$name := Username $c .FromID}}
			<li>
				{{.Comment}} -- {{if $name}}<a href="/profile?id={{.FromID}}">{{$name}}</a> {{else}}Anonymous{{end}}
			</li>
		{{end}}
		</ul>
	
		{{if .LoginInfo.User}}
		<form action="/comment" method="post">
		
			<input type="hidden" name="id" value="{{.ID}}" />
		
			<label for="comment">Comment</label>
			<textarea name="comment"></textarea>
			
			<label for="like">Also like?</label>
			<input type="checkbox" name="like" value="yes">
		
			<input type="submit" name="add_comment" value="Add Comment" />
		
		</form>
		{{end}}
	{{end}}
{{end}}