{{define "title"}}{{.User.Name}}{{end}}
{{define "content"}}
	{{if .User.Chef}}
	<p>CHEF IMAGE</p>
	{{end}}
	Username: {{.User.Name}} <br />
	Tagline: {{.User.Tagline}} <br />
	
	{{if .User.Chef}}
	<ul>
	{{range .User.RestaurantIds}}
		<li>{{.}}</li>
	{{end}}
	</ul>
	
	<a href="/edit">Edit</a>
	
	<br /><br />
	<strong>Comments</strong><br />
		
	comments
	
	<form action="/comment" method="post">
		
		<input type="hidden" name="idTo" value="{{.ID}}" />
		
		<label for="comment">Comment</label>
		<textarea name="comment"></textarea>
		
		<input type="submit" name="add_comment" value="Add Comment" />
		
	</form>
	{{end}}
{{end}}