{{define "root"}}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Where's My Chef | {{template "title" .}}</title>
	
	<link rel="stylesheet" href="css/style.css" />
	
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	
	<script type="text/javascript">
	
	$(function()
	{
		console.log('online');
	});
	</script>
</head>
<body>
	<header>
	{{with .LoginInfo}}
	{{if .User}}
		{{if .Profile}} Welcome <a href="profile?id={{.User.ID}}">{{.Profile.Name}}</a> | {{end}}
		
		{{if .Profile}}
			<a href="/edit">Edit My Profile</a> | 
		{{else}}
			<a href="/edit">Create a Profile</a> | 
		{{end}}
		
		<a href="{{.LOUrl}}">Logout</a> 
	{{else}}
		<a href="{{.LOUrl}}">Login</a>
	{{end}}
	{{end}}
	</header>
	{{template "content" .}}
</body>
</html>
{{end}}
