{{define "root"}}
<!doctype html>        
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Where's My Chef | {{template "title" .}}</title>
	
	<link rel="stylesheet" href="css/style.css" />
	
	<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
	
	<script type="text/javascript">
	
	$(function()
	{
		$('header img').click(function()
		{
			$('.search_box').slideToggle();
		});
		
		$('.like_button').click(function()
		{
				var params = {};
				var amnt = $('.like_button').val();
				params.id = $('.like_button').attr('id');
				
				$.post('/like', params, function(data) {
				}, 'json').always(function()
				{
					console.log('here');
					$('.like_button').replaceWith('<span class="like_button_disabled">'+(amnt+1)+'</span>');
					$('.also_like').hide();
				});
		});
		
		console.log('online');
	});
	</script>
</head>

<body lang="en">
    <header class="wrapper branding">
		{{with .LoginInfo}}
		<nav>
			{{if .User}}
			<ul>
				{{if .Profile}}<li><a href="profile?id={{.User.ID}}">{{.Profile.Name}}</a></li>{{end}}
				
				{{if .Profile}}
				<li><a href="/edit">Update Profile</a></li>
				{{else}}
				<li><a href="/edit">Create Profile</a></li>
				{{end}}
				<li><a href="/newRestaurant">Add Restaurant</a></li>
				<li><a href="{{.LOUrl}}">Logout</a></li>
			</ul>
			{{else}}
			<ul>
				<li><a href="{{.LOUrl}}">Login</a></li>
			</ul>
			{{end}}
		</nav>
		{{end}}

		<img src="img/logoMain.png"/>
    </header>
	{{template "content" .}}
</body>
</html>
{{end}}
