{{define "root"}}<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Where's My Chef | {{template "title" .}}</title>
</head>
<body>
	<header>
	{{with .LoginInfo}}
	{{if .User}}
		{{if .Profile}}
			<a href="/edit">Edit My Profile</a>
		{{else}}
			<a href="/edit">Create a Profile</a>
		{{end}}
		Welcome {{if .Profile}}{{.Profile.Name}}{{end}} | <a href="{{.LOUrl}}">Logout</a>
	{{else}}
		<a href="{{.LOUrl}}">Login</a>
	{{end}}
	{{end}}
	</header>
	{{template "content" .}}
</body>
</html>
{{end}}
