{{define "title"}}Top 10 Chefs {{end}}
{{define "content"}}
	
{{$profileKeys := .ProfileKeys}}
Most Liked Chefs
	<ul>
	{{range $i, $profile := .Profiles}}
		{{$profileKey := index $profileKeys $i}}
		<li>
			{{.Name}} -- Has {{.Likes}} endorsement{{if neq .Likes 1}}s{{end}}-- <a href="/profile?id={{$profileKey.StringID}}">{{.Name}}</a>
		</li>
	{{end}}
	</ul>
	
	
	
	
{{end}}