{{define "title"}}Top 10 Chefs {{end}}
{{define "content"}}
<div class="wrapper search_box">
	<div class="search_contain">
		<form action="#" method="get">
			<input type="text" name="search" class="search_input" placeholder="Search by Name or Restaurant..."/>
			<input type="image" name="submit" src="img/magnifying.png" class="search_go" value="Go"/>
		</form>
		<ul>
			<li><a href="/top10">Top 10 Statistics</a></li>
			<li><a href="/all">All Users</a></li>
		</ul>
	</div>
</div>

<div class="wrapper content">
{{$profileKeys := .ProfileKeys}}
	<ul>
	{{range $i, $profile := .Profiles}}
		{{$profileKey := index $profileKeys $i}}
		<li>
			{{.Name}} -- Has {{.Likes}} endorsement{{if neq .Likes 1}}s{{end}}-- <a href="/profile?id={{$profileKey.StringID}}">{{.Name}}</a>
		</li>
	{{end}}
	</ul>
{{end}}
<div class="wrapper content">